.center{
    margin: auto;
    width: 50%;
    height: 50%;
    text-align:center;
    border: 3px solid green;
}
h1{
    color:purple;
}
nav{
    float:right;
    margin-right: 10px;
    border: 3px solid blue;
}
nav > a{
    padding: 15px;
}
form{
    margin-bottom: 15px;
}
.rounded{
    border-radius: 25px;
}