.center{
    margin: auto;
    width: 50%;
    height: 50%;
    text-align:center;
}
nav{
    float:right;
    margin-right: 10px;
}
nav a{
    padding: 15px;
}
form{
    margin-bottom: 15px;
}
.rounded{
    border-radius: 25px;
}
.left{
    margin: auto;
    text-align: left;
}
.left-advanced-search{
    margin-left: 5px;
}
.left-advanced-search input{
    position:absolute;
    left: 200px;
}
#submitButton{
    poisition:absolute;
    left: 250px;
    background-color: blue;
    color:white;
    border-radius: 10px;
    text-align:center;
    padding:5px;
}
